*{
    padding: 0;
    margin: 0;
}
body{
    background: #f1f1e2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    

}
.card{
    width: 90%;
    max-width: 500px;
    background: linear-gradient(150deg,#b0dfe6,#a688bb);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 45px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.weather img{
    width: 200px;
    padding-top: 25px;
}
.weather {
    font-size: 30px;
    font-family: math ;
    font-weight: 100;
    display: none;
}
.error{
    display: none;
}